/* font added 
------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


/* header Area design
---------------------- */
body {
    font-family: 'Poppins', sans-serif;
    width: 1000px;
    margin: 0 auto;

}

header {
    background-color: black;
    border-radius: 10px;
    margin-bottom: 100px;

}

.header-area {
    display: flex;
    align-items: center;
    height: 650px;
}

.header-write-part {
    width: 60%;
    color: aliceblue;
    padding-left: 20px;
}

.header-write-part p {
    margin-bottom: 50px;
}

.header-write-part a {
    background-image: linear-gradient(orange, red);
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
}

.header-image img {
    width: 100%;
}

/* middle area design
-------------------------- */

/* left-side-area 
------------------*/



.middle-area {

    display: flex;
    margin-bottom: 100px;


}

.left-side-area {

    width: 20%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 20px;
    background-color: black;
    border-radius: 5px;


}


.left-side-area a {

    text-decoration: none;
    text-align: center;
    color: black;
    background: white;
    margin-left: 20px;
    margin-right: 20px;
    padding: 4px 8px;
    border-radius: 5px;

}

#anchor {
    background: red;
}


/* right-side-area 
----------------------*/
.right-side-area {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-left: 10px;
    grid-row-gap: 10px;
    grid-column-gap: 10px;


}

.right-side-area {
    width: 80%;

}

.grid-item-apply {
    box-shadow: 8px 8px 16px gray;
    border-radius: 5px;
}

.grid-item-apply img {
    margin-bottom: 10px;
    width: 100%;
    border-radius: 5px;
}

.grid-item-apply a {
    text-decoration: none;
    border: 1px solid black;
    margin-left: 10px;
}

.line-adjust {
    margin-left: 10px;
}

.last-item {
    display: flex;
}

.last-item1 {
    display: flex;
    align-items: center;


}

.last-item2 {
    display: flex;

    align-items: center;
    margin-left: 30px;


}

.last-item1 p {
    padding-left: 10px;
}

.last-item2 p {
    padding-left: 10px;
}

/* footer area
----------------- */

footer {
    background-color: black;
    border-radius: 5px;

}

footer h1 {
    color: aliceblue;
    padding-top: 20px;
    text-align: center;
}

hr {

    margin-bottom: 20px;
    margin-left: 150px;
    margin-right: 150px;
}

.last-area {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

.last-area a {
    text-decoration: none;
    color: aliceblue;
    padding-left: 10px;
}

@media screen and (min-width:320px) and (max-width:480px) {
    .header-area {
        flex-direction: column-reverse;
        justify-content: flex-end;
    }

    .right-side-area {
        grid-template-columns: repeat(1, 1fr);
    }

    .last-area {
        flex-direction: column;
        align-items: center;
    }

}

@media screen and (min-width:481px) and (max-width:768px) {
    .header-area {
        flex-direction: column-reverse;
        justify-content: flex-end;
    }

    .right-side-area {
        grid-template-columns: repeat(2, 1fr);
    }

    .last-area {
        flex-direction: column;
        align-items: center;
    }
}