/* font added 
------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


/* header Area design
---------------------- */
body {
    font-family: 'Poppins', sans-serif;
    width: 1000px;
    margin: 0 auto;

}

header {
    background-color: black;
    border-radius: 10px;
    margin-bottom: 100px;

}

.header-area {
    display: flex;
    align-items: center;
    height: 450px;
}

.header-write-part {
    width: 60%;
    color: aliceblue;
    padding-left: 20px;
}

.header-write-part p {
    margin-bottom: 50px;
}

.header-write-part a {
    background-image: linear-gradient(orange, red);
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
}

.header-image img {
    width: 100%;
}

/* middle area design
-------------------------- */

/* left-side-area 
------------------*/
.middle-area {
    display: flex;
}

.left-side-area {
    width: 20%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 20px;
    background-color: black;
    border-radius: 5px;


}


.left-side-area a {

    text-decoration: none;
    text-align: center;
    color: black;
    background: white;
    margin-left: 20px;
    margin-right: 20px;
    padding: 4px 8px;
    border-radius: 5px;

}

#anchor {
    background: red;
}


/* right-side-area 
----------------------*/
.right-side-area {
    width: 80%;
    border: 1px solid black;
}