@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    width: 1000px;
    margin: 0 auto;


}

header {
    background-color: black;
    border-radius: 10px;
    margin-bottom: 100px;

}

.header-area {
    display: flex;
    align-items: center;
    height: 450px;
}

.header-write-part {
    width: 60%;
    color: aliceblue;
    padding-left: 20px;
}

.header-write-part p {
    margin-bottom: 50px;
}

.header-write-part a {
    background-image: linear-gradient(orange, red);
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
}

.header-image img {
    width: 100%;
}

.middle-area {

    display: flex;
    width: 100%;
    margin-bottom: 100px;


}

.left-side-area {

    width: 20%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 20px;
    background-color: black;
    border-radius: 5px;


}


.left-side-area a {

    text-decoration: none;
    text-align: center;
    color: black;
    background: white;
    margin-left: 20px;
    margin-right: 20px;
    padding: 4px 8px;
    border-radius: 5px;

}

#anchor {
    background: red;
}

.right-side-area {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-left: 10px;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    width: 80%;


}

.right-side-area img {
    width: 100%;
}



.grid-item-apply {
    display: flex;
}

.paragraph p {
    padding-left: 10px;
    padding-right: 10px;
}

.writing-part h3,
p {
    padding-left: 33px;
}

.writing-part p {
    color: darkgrey;
}

.right-way {
    box-shadow: 8px 8px 16px gray;
    border-radius: 5px;
}

.grid-item-apply {
    padding-left: 15px;
    padding-top: 15px
}

.france-flag img {
    border-radius: 5px;
}

.german-flag img {
    border-radius: 5px;
}

footer {
    background-color: black;
    border-radius: 5px;

}

footer h1 {
    color: aliceblue;
    padding-top: 20px;
    text-align: center;
}

hr {

    margin-bottom: 20px;
    margin-left: 150px;
    margin-right: 150px;
}

.last-area {
    text-align: center;
    padding-bottom: 30px;
}

.last-area a {
    text-decoration: none;
    color: aliceblue;
    padding-left: 10px;
}